main {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/danyar-img/ocean-background.webp');
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
}

#logo-danyar {
    width: 12%;
    max-width: 9.375rem;
    position: absolute;
    top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centers horizontally */
}

.dish-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.1rem;
    margin-top: 22rem; /* Adjust this as needed for spacing below header */
}

.dish-item {
    position: relative;
}

.dishes {
    width: 85%;
    margin: 8rem 0 0 3.5rem;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
}

.order-button {
    position: absolute;
    bottom: 0.2rem; /* Positions the button at the bottom of the image */
    left: 71%;
    transform: translateX(-50%);
    background-color: #ff9327;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    width: 5rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

*{                                  /*Reset alt default setting for margin og padding, dermed definere alle box-sizing til border-box*/
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 1rem;
}

:root{                              /*Definere css variables for farver for nemmere tilgang*/
    --white: #ffffff;
    --orange: #ff9327;
    --dark-grey: #222222;
    --black: #000000;
    --light-grey: #cecfca;
    --mid-white: #f4f4f4;
}

#header{                            /*Bestemt layout for header med brug af flexbox*/
    display: flex;
    justify-content: space-between;
}

#logo{
    padding: 0.938rem;
    width: 0.525rem;
}

.icon{
    width: 1.875rem;
    margin: 0.625rem;
}

header section{                         /*Definere placering af logo og search-icon, dermed baggrundsfarve*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--black);
    z-index: 10;
}

header nav {                         /*Bestemt baggrundsfarve for navigationsbar*/
    background-color:rgb(9, 68, 100);
    font-family: blank-river;
}

header nav ul{                  /*Styling af navigationsbar*/
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header nav ul li{               /*Definere position af navigationsbar listitem*/
    position: relative;
    padding: 1.5 1.5rem;
}

header nav ul li a{             /*Styling af links i navigationsbar*/
    text-decoration: none;
    font-size: 1.55rem;
    padding: 1.5rem;
    color: white;
    display: block;
    background: rgb(9, 68, 100);
}

header nav ul li a:hover{       /*Styling af navigationsbar under hover tilstand*/
    background: rgb(29, 91, 124);;
    color: var(--orange);
}

header nav ul li ul{            /*Styling af dropdown menu i navbar*/
    position: absolute;
    left: 0;
    width: 100%;                    /*Definere at den skal udfylde hele siden*/
    background: var(--orange);
    display: none;
    z-index: 10;                    /*Styrer stablingrækkefølge højere værdi ligger øverst, i denne tilfælde ligger alt under ul øverst for alle andre elementer*/
}

header nav ul li ul li{         /*Styling af list item i dropdown menu*/
    width: 100%;
    border-top: 0.5px solid rgb(27, 106, 148);
}

header nav ul li ul li ul{      /*Styling af nested dropdown menu*/
    left: 12.5rem;
    top: 0;
}

header nav ul li:focus-within > ul,
header nav ul li:hover > ul{     /*Definere display af dropdown menu på hover eller fokus*/
    display: block;
    z-index: 10;                     /*Styrer stablingrækkefølge højere værdi ligger øverst, i denne tilfælde ligger alt under ul øverst for alle andre elementer*/
}

header::after {                     /*Fjern floats efter header content*/
    content: "";
    display: table;
    clear: both;
}

nav ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: rgb(9, 68, 100);
	position: absolute;
	z-index: 10;
	display: none;
}
nav ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
nav ul.sub-menus a {
	color: white;
	font-size: 1.25rem;
}
nav li:hover ul.sub-menus {
	display: block
}
nav ul.sub-menus a:hover{
	background: var(--orange);
	color: var(--white);
}

#wrapper {
    min-height: 100%;               /*Definere kontents højde, dette sørge for en sticky footer der reagere med kontentet, dermed forbliver den i bunden af siden under alle forhold*/
    display: flex;
    flex-direction: column;
}

#top{                             /*Styling for fixed sektionen i højre bund af siden*/
    color: var(--white);
    background-color: var(--orange);
    position: fixed;
    bottom: 0;
    right: 50px;
    padding: 20px;
    font-size: 18px;
    z-index: 9;
}

#top a{                           /*Styling for links i top*/
    color: var(--white);
    text-decoration: none;
    font-family: serif;
    font-weight: 300;
    font-style: bold;
}

footer {                            /*Styling for footer*/
    background-color: var(--light-grey);
    color: var(--black);
    text-align: center;
    padding: 1.25rem;
    margin-top: 3.125rem;
    height: 21.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img{                         /*Styling for logoet under footer*/
    padding-bottom: 2%;
    width: 25rem;
}

footer nav ul {                     /*Styling footers navigationsbar*/
    padding: 0;
    margin: 0;
    list-style: none;
}

footer nav ul li {                  /*Styling for list items under footer navigationsbar*/
    display: inline-block; 
    margin-right: 0.938rem; 
}

footer nav ul li:last-child {       /* Fjerne margin for den sidste list item i footer*/
    margin-right: 0;
}

footer nav ul li a {                /* Style for links i footer navigationsbar */
    text-decoration: none;
    color: var(--dark-grey);
}


