main{
    flex: 1;                        /*Definere spacen af main*/
}

#danyar-background{
}




#top{                             /*Styling for fixed sektionen i højre bund af siden*/
    color: var(--white);
    background-color: var(--orange);
    position: fixed;
    bottom: 0;
    right: 50px;
    padding: 20px;
    font-size: 18px;
    z-index: 9;
}

#top a{                           /*Styling for links i top*/
    color: var(--black);
    text-decoration: none;
    font-family: serif;
    font-weight: 300;
    font-style: bold;
}

top :hover{
    background: var(--dark-grey);
    color: var(--orange);
}

footer {                            /*Styling for footer*/
    background-color: var(--light-grey);
    color: var(--black);
    text-align: center;
    padding: 1.25rem;
    margin-top: 3.125rem;
    height: 21.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img{                         /*Styling for logoet under footer*/
    padding-bottom: 2%;
    width: 25rem;
}

footer nav ul {                     /*Styling footers navigationsbar*/
    padding: 0;
    margin: 0;
    list-style: none;
}

footer nav ul li {                  /*Styling for list items under footer navigationsbar*/
    display: inline-block; 
    margin-right: 0.938rem; 
}

footer nav ul li:last-child {       /* Fjerne margin for den sidste list item i footer*/
    margin-right: 0;
}

footer nav ul li a {                /* Style for links i footer navigationsbar */
    text-decoration: none;
    color: var(--dark-grey);
}
