@font-face {
    font-family: blank-river;
    src: url(/fonts/blank-river.ttf);
}

:root{                                  /*Definere css variables for farver for nemmere tilgang*/
    --white: #ffffff;
    --blue: #1bb1e7;
    --dark-grey: #222222;
    --black: #000000;
    --light-grey: #cecfca;
}

header nav {                         /*Bestemt baggrundsfarve for navigationsbar*/
    background-color: var(--blue);
    font-family:blank-river;
}

header nav ul li a{                 /*Styling af links i navigationsbar*/
    color: var(--white);
    background: var(--blue);
}

header nav ul li a:hover{           /*Styling af navigationsbar under hover tilstand*/
    background: var(--dark-grey);
    color: var(--white);
}

#top{                                   /*Styling for fixed sektionen i højre bund af siden*/
    background-color: var(--blue);
}

#top a{
    color: var(--white);
}

aside {
    display: flex;            /* Enable flexbox on aside */
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 100%;             /* Ensure it uses the full height of the parent, if not already defined */
}

#bar-logo {
    rotate: 90deg;
    width: 18.75rem;
    height: 18.75rem;
}

#menu {
    display: flex;  
    flex-wrap: wrap;                    /* Sørger for, at sektionerne bryder op i flere rækker */
    gap: 2rem;
    justify-content: space-between;
}

#menu section img{
    width: 18.75rem;
    height: 18.75rem;
    object-fit: cover;
}

.content {
    display: flex;
    gap: 1rem;
    width: 45%;
    margin: auto;
    border-radius: 5%;
    justify-content: space-between;
}

.content:hover{
    background: rgba(206, 207, 202, 0.5);
    cursor: pointer;
}

.content img {
    margin: 5%;
    width: 40%;
    object-fit: cover;
    border-radius: 2%;
    overflow: hidden;
}

.content article {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 50%;
}

.content h3 {
    color: var(--black);
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.content h4{
    color: var(--blue);
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.content div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 80%;
}

.content p {
    padding: 0 1rem 1rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.order-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-btn:hover {
    background-color: var(--dark-grey);
    transform: scale(1.05);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}