@font-face {
    font-family:big-noodle;
    src: url(/fonts/big-noodle.ttf)
    }

@font-face {
    font-family:big-noodle-italic;
    src: url(/fonts/big-noodle-italic.ttf)
}

@font-face {
    font-family: blank-river;
    src: url(/fonts/blank-river.ttf);
}

html, body{                                         /*Posisition af baggrundsbillede*/
    background-image: url(/img/mockupweb.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 190rem;
}

main{                                               /*Definere spacen af main*/
    .parent{
        display: grid;
    }
    }

    @media only screen and (max-width: 400px ){     /*til responsive telefon*/
        html, body{
            display: flex;
        }
        }
    
        @media only screen and (min-width: 600px){  /*til responsive tablet*/
    
        }