@font-face {
    font-family:big-noodle;
    src: url(/fonts/big-noodle.ttf)
    }

@font-face {
    font-family:big-noodle-italic;
    src: url(/fonts/big-noodle-italic.ttf)
}

@font-face {
    font-family: blank-river;
    src: url(/fonts/blank-river.ttf);
}

:root{                                                                  /*Definere css variables for farver for nemmere tilgang*/
    --white: #ffffff;
    --orange: #ff9327;
    --dark-grey: #222222;
    --black: #000000;
    --light-grey: #cecfca;
    --mid-white: #f4f4f4;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;                                                 /* Fjerner vandret sccrollbar */
}


#back-img {
    background-image: url(/img/forsiden/background-update.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    height: 190rem;
    min-height: 100vh;
    box-sizing: border-box;
}

.back-video {                                                           /* Definere videoens position under andre elementer */
    position: relative;
    z-index: 0;
    height: 80vh;
    width: 100%;
    background: var(--black);
    overflow: hidden;
    padding-top: 7%;
}

#tilbud {
    position: relative; 
    margin-top: 20px; 
    padding-left: 25%;
    left: 4%;
    top: 0;
    grid-area: 1 / 1 / 3 / 3; 
}

#tilbud h2{
    font-family: big-noodle-italic;
    color: var(--white);
    font-size: 12.5rem;
    position: relative;                                                 /* Sørger for, at h3 positioneres i forhold til h2 */
    z-index: 1;                                                         /* Sikrer, at h2 er bag h3 */
}

#tilbud h3{
    font-family: blank-river;
    color: var(--orange);
    font-size: 6.25rem;
    position: absolute;
    top: 8rem;
    left: 18.5rem;
    z-index: 2;                                                         /* Sikrer, at h3 vises over h2 */
    rotate: -25deg;
}

#tilbud p{
    color: var(--white);
    background: rgba(211, 211, 211, 0.5);
    width: max-content;
    font-size: 3.125rem;
    padding: 1%;
}

.skilt{
    z-index: 0;
    position: absolute;
    top: 400px;
    right: 0vh;
}
#kort{
    color: white;
    font-family: big-noodle;
    position: absolute;
    font-size: 5rem;
    right: 300px;
    top: 1150px;
    transform: rotate(15deg);
    letter-spacing: 8px;
}

#info{
    color: #646565;
    font-family: big-noodle;
    position: absolute;
    font-size: 5rem;
    right: 10px;
    top: 1055px;
    transform: rotate(-25deg);
    letter-spacing: 8px;
}
#events{
    color: #646565;
    font-family: big-noodle;
    position: absolute;
    font-size: 5rem;
    right: 270px;
    top: 1500px;
    letter-spacing: 8px;
    transform: rotate(-19deg);
}

.grid{                                                                   /*Definere spacen af main*/
    display: grid;
    grid-template-columns: repeat(25, 0.5fr);
    grid-template-rows: repeat(20, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
/* x start, y slut, x slut, y start */


    @media screen and (max-width: 768px) {
        
        body{
            overflow: hidden;
        }

        header nav ul {
            flex-direction: column;
            justify-content: flex-start;
        }
    
        header nav ul li {
            padding: 0.5rem 1rem;
        }
    
        #logo {
            width: auto;
            padding: 0.5rem;
        }
    
        .icon {
            width: 1.5rem;
            margin: 0.5rem;
        }

        /* Ændring til frokost tilbud tekst */
        #tilbud{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10rem;
            margin-left: 18rem;
        }
        
    
        #tilbud h2 {
            margin-top: 5rem;
            margin-left: 5rem;
            font-size: 10rem;
        }
    
        #tilbud h3 {
            font-size: 6rem;
            left: 9rem;
            top: 11rem;
        }
    
        #tilbud p {
            margin-top: 5rem;
            font-size: 2.5rem;
            padding: 1.5rem;
        }

        #back-img{
            background: url(../img/forsiden/background-phone.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-sizing: border-box;
        }
    
        #top {
            right: 10px;
            padding: 10px;
            font-size: 14px;
        }

        /* Fjerner skilt og dens element */
        .skilt{
            display: none;
        }

        #events{
            display: none;
        }

        #info{
            display: none;
        }

        #kort{
            display: none;
        }

        /* Footer css */
    
        footer {
            height: auto;
            padding: 1rem;
        }
    
        footer img {
            width: 100%;
            max-width: 20rem;
        }
    
        footer nav ul li {
            margin-right: 0.5rem;
        }
    }
    
    /* Media query for tablet (768px til 1024px) */
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        header nav ul {
            flex-direction: row;
            justify-content: space-around;
        }
    
        header nav ul li {
            padding: 1rem;
        }
    
        #logo {
            padding: 0.7rem;
        }
    
        .icon {
            width: 1.75rem;
            margin: 0.7rem;
        }
    
        #tilbud h2 {
            font-size: 6rem;
        }
    
        #tilbud h3 {
            font-size: 3rem;
            left: 12rem;
            top: 6rem;
        }
    
        #tilbud p {
            font-size: 2rem;
        }
    
        footer {
            height: auto;
            padding: 1.5rem;
        }
    
        footer img {
            width: 100%;
            max-width: 22rem;
        }
    }