@font-face {
    font-family: bubblegum;
    src: url(/fonts/bubblegum.ttf)
}
@font-face {
    font-family: big-noodle;
    src: url(/fonts/big-noodle-italic.ttf);
}
*{                              /*Reset alt default setting for margin og padding, dermed definere alle box-sizing til border-box*/
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 16px;
    --scale: calc(3rem + 1vh);
} 

body{
    background-image: url(/img/popsicle/tegnebraet.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    background-color: #daebde;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: bubblegum;
}

.head img{
    height: 3rem;
}

h1{
    font-size: 5rem;
    color:#fcecdc;
    text-shadow:4px 4px #e0869d;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: bubblegum;
    }
.ramme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20rem;
}

.ramme img{
    height: auto;
    padding: 10%;
    width: 30rem;
}

.ramme p{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: bubblegum;
    color:#fff4f5;
    text-shadow: 4px 4px #e0869d;
}
h2{
    font-family: big-noodle;
    font-weight: 100;
    color: #fcecdc;
    font-size: 3rem;
    text-shadow:1px 1px #e0869d ;

}
h3{
    font-family: big-noodle;
    font-weight: 100;
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: 0.5px 0.5px #e0869d;

}
.top{
position: absolute;
top: 250px;
}

header section{                         /*Definere placering af logo og search-icon, dermed baggrundsfarve*/
    background-image: url(../img/popsicle/tegnebraet.webp);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

header nav{
    color: #fcecdc;
    background-image: url(../img/popsicle/tegnebraet.webp);
    background-size:cover;
    background-position:0 -125px ;
    flex-basis: 100%;
}
header nav ul li a {
    color:white;
    background-color: transparent;

}

@media (max-width: 1240px){
    h1{
        padding-top: 0;
        font-size: var(--scale);
    }
    
    header nav{
        background-position: 0 -80px;    
    }  
    
    h2{
        font-size: 2.5rem;

    }
    h3{
        font-size: 1.5rem;
    }

    .top{
        top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .logo{
        width: 90px;
    }
    .ramme img{
        width: 20rem;
    }
    .ramme p{
        font-size: 1.5rem;
    }
}
@media (max-width: 769px){
    h1{
        padding-top: 0;
        font-size: 2rem;
    }
    
    header nav{
        background-position: 0 -80px;    
    }  
    
    h2{
        font-size: 2rem;

    }
    h3{
        font-size: 1rem;
    }

    .top{
        top: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 5%;
    }
    .logo{
        width: 50px;
    }   

    .ramme img{
        width: 10rem;
    }

    .ramme{
        padding-top: 12rem;
    }
    .ramme p{
        font-size:1rem;
    }
}