*{                                  /*Reset alt default setting for margin og padding, dermed definere alle box-sizing til border-box*/
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 16px;
}

:root{                              /*Definere css variables for farver for nemmere tilgang*/
    --white: #ffffff;
    --orange: #ff9327;
    --dark-grey: #222222;
    --black: #000000;
    --light-grey: #cecfca;
    --mid-white: #f4f4f4;

    /* Variable der gøre kodening af burgermenuen bliver mere responsive */
    --bar-width: 60px;                  /* Definere breden af burgermenuen*/
    --bar-height: 8px;                  /* Definere højden af burgermenuen*/
    --hamburger-gap: 6px;               /* Ved at definere margin ville den skubbe andre variables under*/
    --foreground: var(--orange);
    --background: var(--dark-grey);
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
     /* simpel math - højde er lige med 3x bar height og 2x vores gap. Calc variable regner denne regnestyk ud for os */
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

}

#header{                            /*Bestemt layout for header med brug af flexbox*/
    display: flex;
    justify-content: space-between;
}

#logo{
    padding: 0.938rem;
    width: 0.525rem;
}

.icon{
    width: 1.875rem;
    margin: 0.625rem;
}

/* CSS TIL BURGER MENUEN */

.burger-menu{                           /* laver de 3 strejer */
    --x-width: calc(var(--hamburger-height) * 1.41421356237);        /* Denne kode regner længden af linjerne når checkboxen er krydset af ved brug af trekantsberegning. Tallet det er ganget med er bare √2*/
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;                                                     /* Sørger for at burgermenuen er på toppen af sidebar */
    cursor: pointer;
    margin-top: 40%;                                                /* Placere burgermenu under logoet */
}

.burger-menu:has(input:checked){        /* Ændring af farve på burgermenu når den er checked */
    --foreground: var(--dark-grey);
    --background: var(--orange);
}

.burger-menu::before,                   /* Target de 3 linjer som burgermenuen har */
.burger-menu::after,                    /* Target de 3 linjer som burgermenuen har */
.burger-menu input{                     /* Target checkboxen */
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    /* Denne linje animere transition når man klicker på checkboxen */
    transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.burger-menu input{                     /* Fjerner default checkbox */
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;               /* Gøre sådan at man ikke kan klicke på checkboxen. Dette er gjort pga. alt interation med checkbox skal ske i gennem label. Koden har gøre at man nu kan tryk hvor som helst på .burger-menu ville man check og uncheck ens checkbox*/
}

/* Forklaring af hvad linjen nedenfor target: Hvis burgermenu har en input der er checked, hvis ja target before elementet af burgermenuen */
.burger-menu:has(input:checked)::before{ /* css til krydset når checkboxen er checked */
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2); /* Regner translate for y-position, og da vi ville have den som halvdel af baren ville det være division med 2 ( x-position er 0 ) */
}

.burger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.burger-menu input:checked{
    opacity: 0;
    width: 0;
}

.sidebar{
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 10rem;
    min-height: 100vh;
}

/* Forklaring af hvad linjen nedenfor target: hvis vi har en burgermenu der har en input som er checked ville sidebar blive selected*/
.burger-menu:has(input:checked) + .sidebar{
    translate: 0;
}

header section{                         /*Definere placering af logo og search-icon, dermed baggrundsfarve*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--black);
}

header nav {                         /*Bestemt baggrundsfarve for navigationsbar*/
    background-color: var(--orange);
    font-family:blank-river;
}

header nav ul{                  /*Styling af navigationsbar*/
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header nav ul li{               /*Definere position af navigationsbar listitem*/
    position: relative;
    padding: 1.5 1.5rem;
}

header nav ul li a{             /*Styling af links i navigationsbar*/
    text-decoration: none;
    font-size: 1.55rem;
    padding: 1.5rem;
    color: black;
    display: block;
    background: var(--orange);
}

header nav ul li a:hover{       /*Styling af navigationsbar under hover tilstand*/
    background: var(--dark-grey);
    color: var(--orange);
}

header nav ul li ul{            /*Styling af dropdown menu i navbar*/
    position: absolute;
    left: 0;
    width: 100%;                    /*Definere at den skal udfylde hele siden*/
    background: var(--orange);
    display: none;
    z-index: 10;                    /*Styrer stablingrækkefølge højere værdi ligger øverst, i denne tilfælde ligger alt under ul øverst for alle andre elementer*/
}

header nav ul li ul li{         /*Styling af list item i dropdown menu*/
    width: 100%;
    border-top: 0.5px solid var(--dark-grey);
}

header nav ul li ul li ul{      /*Styling af nested dropdown menu*/
    left: 12.5rem;
    top: 0;
}

header nav ul li:focus-within > ul,
header nav ul li:hover > ul{     /*Definere display af dropdown menu på hover eller fokus*/
    display: block;
    z-index: 10;                     /*Styrer stablingrækkefølge højere værdi ligger øverst, i denne tilfælde ligger alt under ul øverst for alle andre elementer*/
}

header::after {                     /*Fjern floats efter header content*/
    content: "";
    display: table;
    clear: both;
}

#wrapper {
    min-height: 100%;               /*Definere kontents højde, dette sørge for en sticky footer der reagere med kontentet, dermed forbliver den i bunden af siden under alle forhold*/
    display: flex;
    flex-direction: column;
}

#top{                             /*Styling for fixed sektionen i højre bund af siden*/
    color: var(--white);
    background-color: var(--orange);
    position: fixed;
    bottom: 0;
    right: 50px;
    padding: 20px;
    font-size: 18px;
    z-index: 9;
}

#top a{                           /*Styling for links i top*/
    color: var(--white);
    text-decoration: none;
    font-family: serif;
    font-weight: 300;
    font-style: bold;
}

footer {                            /*Styling for footer*/
    background-color: var(--light-grey);
    color: var(--black);
    text-align: center;
    padding: 1.25rem;
    margin-top: 3.125rem;
    height: 21.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img{                         /*Styling for logoet under footer*/
    padding-bottom: 2%;
    width: 25rem;
}

footer nav ul {                     /*Styling footers navigationsbar*/
    padding: 0;
    margin: 0;
    list-style: none;
}

footer nav ul li {                  /*Styling for list items under footer navigationsbar*/
    display: inline-block; 
    margin-right: 0.938rem; 
}

footer nav ul li:last-child {       /* Fjerne margin for den sidste list item i footer*/
    margin-right: 0;
}

footer nav ul li a {                /* Style for links i footer navigationsbar */
    text-decoration: none;
    color: var(--dark-grey);
}
