*{                                  /*Reset alt default setting for margin og padding, dermed definere alle box-sizing til border-box*/
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 16px;
}

:root{                              /*Definere css variables for farver for nemmere tilgang*/ /*MANGLER*/
    --white: #ffffff;
    --orange: #ff9327;
    --dark-grey: #222222;
    --black: #000000;
    --light-grey: #cecfca;
    --mid-white: #f4f4f4;

    /* Disse variables er med til at hjælpe koden til burger menuen med at være mere responsive længere ned */
    --bar-width: 3.75rem;              /* Definere breden af burgermenuen*/
    --bar-height: 0.5rem;              /* Definere højden af burgermenuen*/
    --burger-menu-gap: 0.375rem;       /* Ved at definere margin ville den skubbe andre variables under*/
    --burger-menu-margin: 0.5rem;
    --animation-timing: 200ms ease-in-out;
    -o-transform-origin: left center;

}

#header{                            /*Bestemt layout for header med brug af flexbox*/
    display: flex;
    justify-content: space-between;
}

#logo{
    padding: 0.938rem;
    width: 0.525rem;
}

.icon{
    width: 1.875rem;
    margin: 0.625rem;
}

.burger-menu{                           /* laver de 3 strejer */
    display: flex;
    flex-direction: column;
    gap: var(--burger-menu-gap);
    width: max-content;
    position: absolute;
    top: var(--burger-menu-margin);
    left: var(--burger-menu-margin);
    z-index: 2;                         /* Sørger for at burgermenuen er på toppen af sidebar */
    cursor: pointer;
}
                                        /* Denne linje animere transition når man klicker på checkboxen */
.burger-menu::before,                   /* Target de 3 linjer som burgermenuen har */
.burger-menu::after,                    /* Target de 3 linjer som burgermenuen har */
.burger-menu input{                     /* Target checkboxen */
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--orange);
    transition: opacity var(animation-timing);
}

.burger-menu input{                     /* Fjerner default checkbox */
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;               /* Gøre sådan at man ikke kan klicke på checkboxen. Dette er gjort pga. alt interation med checkbox skal ske i gennem label. Koden har gøre at man nu kan tryk hvor som helst på .burger-menu ville man check og uncheck ens checkbox*/
}

/* Forklaring af hvad linjen nedenfor target: Hvis burgermenu har en input der er checked, hvis ja target before elementet af burgermenuen */
.burger-menu:has(input:checked)::before{ /* css til krydset når checkboxen er checked */
    rotate: 45deg;
}

.burger-menu:has(input:checked)::after{
    rotate: -45deg;
}

.burger-menu input:checked{
    opacity: 0;
    width: 0;
}

header section{                         /*Definere placering af logo og search-icon, dermed baggrundsfarve*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--black);
}

header .navbar {                         /*Bestemt baggrundsfarve for navigationsbar*/
    background-color: var(--orange);
    font-family:blank-river;
}

header .navbar ul{                  /*Styling af navigationsbar*/
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header .navbar ul li{               /*Definere position af navigationsbar listitem*/
    position: relative;
    padding: 1.5 1.5rem;
}

header .navbar ul li a{             /*Styling af links i navigationsbar*/
    text-decoration: none;
    font-size: 1.55rem;
    padding: 1.5rem;
    color: black;
    display: block;
    background: var(--orange);
}

header .navbar ul li a:hover{       /*Styling af navigationsbar under hover tilstand*/
    background: var(--dark-grey);
    color: var(--orange);
}

header .navbar ul li ul{            /*Styling af dropdown menu i navbar*/
    position: absolute;
    left: 0;
    width: 100%;                    /*Definere at den skal udfylde hele siden*/
    background: var(--orange);
    display: none;
    z-index: 10;                    /*Styrer stablingrækkefølge højere værdi ligger øverst, i denne tilfælde ligger alt under ul øverst for alle andre elementer*/
}

header .navbar ul li ul li{         /*Styling af list item i dropdown menu*/
    width: 100%;
    border-top: 0.5px solid var(--dark-grey);
}

header .navbar ul li ul li ul{      /*Styling af nested dropdown menu*/
    left: 12.5rem;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{     /*Definere display af dropdown menu på hover eller fokus*/
    display: block;
    z-index: 10;                     /*Styrer stablingrækkefølge højere værdi ligger øverst, i denne tilfælde ligger alt under ul øverst for alle andre elementer*/
}

header::after {                     /*Fjern floats efter header content*/
    content: "";
    display: table;
    clear: both;
}

#wrapper {
    min-height: 100%;               /*Definere kontents højde, dette sørge for en sticky footer der reagere med kontentet, dermed forbliver den i bunden af siden under alle forhold*/
    display: flex;
    flex-direction: column;
}

#top{                             /*Styling for fixed sektionen i højre bund af siden*/
    color: var(--white);
    background-color: var(--orange);
    position: fixed;
    bottom: 0;
    right: 50px;
    padding: 20px;
    font-size: 18px;
    z-index: 9;
}

#top a{                           /*Styling for links i top*/
    color: var(--white);
    text-decoration: none;
    font-family: serif;
    font-weight: 300;
    font-style: bold;
}

footer {                            /*Styling for footer*/
    background-color: var(--light-grey);
    color: var(--black);
    text-align: center;
    padding: 1.25rem;
    margin-top: 3.125rem;
    height: 21.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img{                         /*Styling for logoet under footer*/
    padding-bottom: 2%;
    width: 25rem;
}

footer nav ul {                     /*Styling footers navigationsbar*/
    padding: 0;
    margin: 0;
    list-style: none;
}

footer nav ul li {                  /*Styling for list items under footer navigationsbar*/
    display: inline-block; 
    margin-right: 0.938rem; 
}

footer nav ul li:last-child {       /* Fjerne margin for den sidste list item i footer*/
    margin-right: 0;
}

footer nav ul li a {                /* Style for links i footer navigationsbar */
    text-decoration: none;
    color: var(--dark-grey);
}